@media (max-width: 50rem) {
  #clock {
    font-size: 3vw;
  }
}
@media (min-width: 50rem) {
  #clock {
    font-size: 4.5vw;
  }
}
@media (max-width: 20rem) {
  .header {
    position: fixed;
    top: 1.5rem !important;
    left: 8rem;
    font-weight: 700;
    color: #424242;
    font-size: 2.4rem !important;
  }
}
@media (max-width: 40rem) {
  .logo {
    height: 4.8rem !important;
  }
  .legend {
    display: none;
  }
  #clock {
    color: #F5F5F5;
    font-size: 3.75rem;
    bottom: 0;
    background-color: rgba(33,33,33, 0.8);
    text-align: center;
    width: 100%;
    position: fixed;
    z-index: 1;
  }
  #alarms {
    margin-top: 8.2rem;
    margin-bottom: 6rem;
  }
  .header {
    position: fixed;
    top: 1rem;
    left: 6rem;
    font-weight: 700;
    color: #424242;
    font-size: 3rem;
  }
}
@media (min-width: 40rem) {
  #clock {
    top: 10rem;
    left: 1rem;
    position: fixed;
    z-index: 1;
  }
  #alarms {
    margin-top: 13.4em;
    margin-bottom: 5.9rem;
  }
  .header {
    position: fixed;
    top: 0;
    left: 8rem;
    font-weight: 700;
    color: #424242;
    font-size: 4rem;
  }
}

.legend {
  text-align: center;
  position: fixed;
  color: #F5F5F5;
  bottom: 0;
  padding: 3px 5rem 0 5rem;
  background-color: rgba(33,33,33, 0.8);
  box-shadow: 0 -3px 6px rgba(0,0,0,0.16), 0 -3px 6px rgba(0,0,0,0.23);
}


.logo {
  position: fixed;
  top: 0;
  left: 1rem;
  height: 6rem;
}
