.sounding {
	background-color: #4CAF50;
  color: #F5F5F5;
  padding: 1em 5rem 1rem 5rem;
  border-bottom: 1px solid #FAFAFA;
}

.silent {
	background-color: #F5F5F5;
  padding: 1em 5rem 1rem 5rem;
  border-bottom: 1px solid #BDBDBD;
}

p {
  overflow: hidden;
}
