.sounding {
	background-color: #4CAF50;
  color: #F5F5F5;
  padding: 1em 5rem 1rem 5rem;
  border-bottom: 1px solid #FAFAFA;
}

.silent {
	background-color: #F5F5F5;
  padding: 1em 5rem 1rem 5rem;
  border-bottom: 1px solid #BDBDBD;
}

.alarm-item {
  font-size: 1.8rem;
  font-weight: 600;
  overflow: hidden;
}

.notes {
  font-weight: 500;
  font-size: 1.6rem;
  padding: 0 3rem 0 3rem;
}

.center {
  text-align: center;
}
